// Color
$primary-background: #000;
$secondary-background: #191919;
$tertiary-background: #333;
//$tertiary-background: #ff553b;

$color-white: #fff;
$color-blue-1: #047f84;
$color-blue-2: #41d0d6;
$color-orange-1: #f95800;
$color-orange-2: #e37f4a;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10 / 16 px = 62.5% --> 1 rem = 10px
}

body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: black;
  background-color: white;
}
