.container {
  margin: auto;
  border: .5rem solid #111;
  width: 30%;
  margin-top: 15rem;
}

.box {
  height: 50vh;
  font-size: 1.6rem;

  &-content {
    display: flex;
    flex-flow: column wrap;
    align-content: center;

    & > h3 {
      font-size: 3rem;
      margin-bottom: 5rem;
      align-self: center;
    }

    & > label {
      align-self: center;
    }
  }
}

input {
  margin: .5rem;
  display: block;
}

button {
  margin: 2rem 0;
}
